/* Estilo geral */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: url('../public/fundo.png') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 2.5em;
  color: #d0bdae;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Header ocupa toda a largura */
  height: auto; /* Altura ajustável */
}

.header-image {
  width: 100%; /* A imagem se ajusta à largura do header */
  height: auto; /* Mantém a proporção original */
  max-width: 500px; /* Máximo de 700px (pode ajustar) */
}

footer {
  /* alinhar o rodapé no centro embaixo da página */
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

/* Time */
.team-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0;
}

.champion-card {
  border: 2px solid #d0bdae;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  background: #163358;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  max-width: 180px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.champion-card:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.3);
}

.champion-card img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
  border: 3px solid #d0bdae;
}

button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #0a1726;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #c23616;
  transform: scale(1.05);
}

/* Campeões sorteados */
.sorted-champions {
  text-align: center;
  margin-top: 40px;
}

.champion-card-sorted img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  object-fit: cover;
  border: 3px solid #d0bdae;
}

.champion-card-sorted:hover {
  transform: scale(1.1);
}

.champion-card-sorted {
  transition: transform 0.3s, box-shadow 0.3s;
}

.sorted-champions-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.no-champions {
  color: #bdc3c7;
  font-style: italic;
  font-size: 1.2em;
}

.error-message {
  color: #e74c3c;
  font-weight: bold;
  margin: 10px 0;
}
